
{% extends "base/base.html" %}
{% load static %}
{% block start %}

    <!-- Dashboard Section Start -->
    <div class="content p-2" data="dashboard">
        <div class="row">
            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="authors">
                <div>
                    <h5>Author</h5>
                    <small>1 Person</small>
                </div>
            </div> <!--Author-->

            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="teachers">
                <div>
                    <h5>Teachers</h5>
                    <small>10 Teachers</small>
                </div>
            </div> <!--Teachers-->

            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="departments">
                <div>
                    <h5>Departments</h5>
                    <small>10 Departments</small>
                </div>
            </div> <!--Departments-->

            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="probidhans">
                <div>
                    <h5>Probidhans</h5>
                    <small>10 Probidhans</small>
                </div>
            </div> <!--Probidhans-->

            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="seasson">
                <div>
                    <h5>Seassons</h5>
                    <small>10 Seassons</small>
                </div>
            </div> <!--Seassons-->

            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="semester">
                <div>
                    <h5>Semesters</h5>
                    <small>8 Semesters</small>
                </div>
            </div> <!--semesters-->

            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="shift">
                <div>
                    <h5>Group/Shift</h5>
                    <small>2 Group/Shift</small>
                </div>
            </div> <!--Group/Shift-->

            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="subjects">
                <div>
                    <h5>Subjects</h5>
                    <small>10 Subjects</small>
                </div>
            </div> <!--Subjects-->

            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="student">
                <div>
                    <h5>Students</h5>
                    <small>10 Students</small>
                </div>
            </div> <!--Students-->

            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="attendance">
                <div>
                    <h5>Attendance</h5>
                    <small class="invisible">N/A</small>
                </div>
            </div> <!--Attendance-->

            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="attendance-calculation">
                <div>
                    <h5>Attendance Calculation</h5>
                    <small class="invisible">N/A</small>
                </div>
            </div> <!--Attendance Calculation-->
        </div>
    </div>
    <!-- Dashboard Section End -->

{% endblock %}