
{% extends "base/base.html" %}
{% load static %}
{% block start %}

    <!-- Dashboard Section Start -->
    <div class="content p-2" data="dashboard">
        {% include "base/message.html" %}
        <div class="row">

            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="attendance">
                <div>
                    <h5>Attendance</h5>
                    <small class="invisible">N/A</small>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="attendance-calculation">
                <div>
                    <h5>Summary</h5>
                    <small class="invisible">N/A</small>
                </div>
            </div>


            {% if request.user.teacher.is_author %}
            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="authors">
                <div>
                    <h5>Author</h5>
                    <small> {{ authors }}&nbsp;{{ authors|pluralize:"Author,Authors" }}</small>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="teachers">
                <div>
                    <h5>Teachers</h5>
                    <small> {{ teachers }}&nbsp;{{ teachers|pluralize:"Teacher,Teachers" }}</small>
                </div>
            </div>

            {% endif %}
    
            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="departments">
                <div>
                    <h5>Departments</h5>
                    <small> {{ departments }}&nbsp;{{ departments|pluralize:"Department,Departments" }}</small>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="probidhans">
                <div>
                    <h5>Probidhans</h5>
                    <small> {{ probidhans }}&nbsp;{{ probidhans|pluralize:"Probidhan,Probidhans" }}</small>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="sessions">
                <div>
                    <h5>Sessions</h5>
                    <small> {{ sessions }}&nbsp;{{ sessions|pluralize:"Session,Sessions" }}</small>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="semester">
                <div>
                    <h5>Semesters</h5>
                    <small> {{ semesters }}&nbsp;{{ semesters|pluralize:"Semester,Semesters" }}</small>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="shift">
                <div>
                    <h5>Group/Shift</h5>
                    <small> {{ groups }}&nbsp;{{ groups|pluralize:"Group/Shift,Groups/Shifts" }}</small>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="subjects">
                <div>
                    <h5>Subjects</h5>
                    <small> {{ subjects }}&nbsp;{{ subjects|pluralize:"Subject,Subjects" }}</small>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="student">
                <div>
                    <h5>Students</h5>
                    <small> {{ students }}&nbsp;{{ students|pluralize:"Student,Students" }}</small>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 p-2 dashboard-content" data="projectInfo">
                <div>
                    <h5>Project Details</h5>
                    <small class="invisible"> {{ students }}&nbsp;{{ students|pluralize:"Student,Students" }}</small>
                </div>
            </div>
    
        </div>
    </div>
        <!-- Dashboard Section End -->

{% endblock %}