



















   <!-- add shift section start -->
   <div class="col-md-6 col-sm-12 add-form my-5 d-none mx-auto" data="add-group">
       <form action="" class="border rounded shadow-sm">
           <h3 class="w-100 p-2">Add Seasson</h3>
           <div class="row p-2">
               <div class="col-12 mb-2">
                   <label for="shift">Group/Shift <span>*</span></label>
                   <input title="Enter Group/Shift Name" type="text" name="shift" id="shift" class="form-control">
               </div> <!--Seasson-->

               <div class="col-12 d-flex justify-content-end">
                   <button type="button" class="cancel-btn">Cancel</button>
                   <button type="submit" class="btn-grad">Add</button>
               </div> <!--btn-->
           </div>
       </form>
    </div>

   <!-- add shift section end -->

   <!-- subjects section start -->
    <div class="content p-2" data="subjects">
       <div class="row">
           <h2 class="w-100 p-2 text-center">Subjects for 1st Semester</h2>
           <div class="col-12 d-flex justify-content-end">
               <button data="filter-subject" type="button" class="btn-grad add-btn">Filter Subject</button>
               <button data="add-subject" class="btn-grad add-btn">Add Subjects</button>
           </div>
           <div class="col-md-3 col-sm-6 p-2 subject-content">
               <div>
                   <h5>Subject name</h5>
                   <small>Code: 12345</small>
                   <small>Credit: 3</small>
                   <small>Theory: 2</small>
               </div>
           </div>
       </div>
    </div>
   <!-- subjects section end -->

   <!-- filter subject section start -->
   <div class="col-12 add-form p-2 d-none" data="filter-subject">
       <div class="row">
           <h2 class="col-12 p-2 text-center">Filter Subjects</h2>
           <div class="col-md-6 col-sm-12 mx-auto my-5">
               <form action="" class="border shadow-sm p-2">
                   <div class="row">

                       <div class="col-12 mb-2">
                           <label for="f_department">Department <span>*</span></label>
                           <select name="f_department" id="f_department" class="form-control" required>
                               <option value="">Select Department</option>
                           </select>
                       </div><!--Department-->

                       <div class="col-md-6 col-sm-12 mb-2">
                           <label for="f_semester">Semester <span>*</span></label>
                           <select name="f_semester" id="f_semester" class="form-control" required>
                               <option value="">Select Semester</option>
                           </select>
                       </div><!--semester-->

                       <div class="col-md-6 col-sm-12 mb-2">
                           <label for="f_probidhan">Probidhan <span>*</span></label>
                           <select name="f_probidhan" id="f_probidhan" class="form-control" required>
                               <option value="">Select Probidhan</option>
                           </select>
                       </div><!--Probidhan-->

                       <div class="col-12 d-flex justify-content-end">
                           <button type="button" class="cancel-btn">Cancel</button>
                           <button type="submit" class="btn-grad">Filter</button>
                       </div>
                   </div>
               </form>
           </div>
       </div>
   </div>
   <!-- filter subject section end -->

   <!-- add subject section start -->
   <div class="col-12 add-form p-2 d-none" data="add-subject">
       <div class="row">
           <h3 class="text-center col-12 p-2 text-white">Add Subjects</h3>
           <div class="col-md-6 col-sm-12 mx-auto my-5">
               <form action="" class="border rounded shadow-sm p-2">
                   <div class="row">
                       <div class="col-12 mb-2">
                           <label for="subject_name">Subject Name <span>*</span></label>
                           <input class="form-control" title="Enter Subject Name" type="text" name="subject_name" id="subject_name" required placeholder="Subject Name">
                       </div> <!--subject name-->

                       <div class="col-md-6 col-sm-12 mb-2">
                           <label for="subject_code">Subject Code <span>*</span></label>
                           <input class="form-control" title="Enter Subject Code" type="text" name="subject_name" id="subject_name" required placeholder="Subject Code">
                       </div> <!--subject code-->

                       <div class="col-md-6 col-sm-12 mb-2">
                           <label for="subject_semester">Semester <span>*</span></label>
                           <select name="subject_semester" id="subject_semester" class="form-control" required>
                               <option value="">Select Semester</option>
                           </select>
                       </div> <!--subject semester-->

                       <div class="col-md-6 col-sm-12 mb-2">
                           <label for="subject_department">Department <span>*</span></label>
                           <select name="subject_department" id="subject_department" class="form-control" required>
                               <option value="">Select Department</option>
                           </select>
                       </div> <!--subject Department-->

                       <div class="col-md-6 col-sm-12 mb-2">
                           <label for="subject_probidhan">Probidhan <span>*</span></label>
                           <select name="subject_probidhan" id="subject_probidhan" class="form-control">
                               <option value="">Select Probidhan</option>
                           </select>
                       </div> <!--subject Probidhan-->

                       <div class="col-md-4 col-sm-6 mb-2">
                           <label for="subject_theory">Theory</label>
                           <input type="text" class="form-control" name="subject_theory" id="subject_theory" placeholder="Thory">
                       </div> <!--subject Theory-->

                       <div class="col-md-4 col-sm-6 mb-2">
                           <label for="subject_practical">Practical</label>
                           <input type="text" name="subject_practical" id="subject_practical" class="form-control" placeholder="Practical">
                       </div> <!--subject Practical-->

                       <div class="col-md-4 col-sm-12 mb-2">
                           <label for="subject_credit">Credit</label>
                           <input type="text" name="subject_credit" id="subject_credit" class="form-control" placeholder="Credit">
                       </div> <!--subject Credit-->

                       <div class="col-12 d-flex justify-content-end">
                           <button type="button" class="cancel-btn">Cancel</button>
                           <button type="submit" class="btn-grad">Add</button>
                       </div>
                   </div>
               </form>
           </div>
       </div>
   </div>
   <!-- add subject section end -->

   <!-- students section start -->
    <div class="content p-2" data="student">
       <div class="row">
           <h2 class="col-12 p-2 text-center text-white">Students of Semester</h2>
           <div class="row">
               <div class="col-md-6 col-sm-12 d-flex justify-content-start align-items-center">
                   <button type="button" class="add-btn btn-grad" data="filter-student">Filter Students</button>
                   <button type="button" class="add-btn btn-grad" data="add-student">Add Students</button>
               </div>
               <form action="#" class="search-form col-md-6 col-sm-12 d-flex justify-content-start" onsubmit="searchWithInput(event)">
                   <input 
                       type="search" 
                       class="search-input" 
                       placeholder="Search Student Roll, Name, Semester" 
                       onfocus="showSuggestions(); showClearButton();" 
                       oninput="filterSuggestions(this.value); showClearButton();"
                   >
                   <button type="button" class="clear-button" onclick="clearSearchInput()" >
                       &times; <!-- Cross icon -->
                   </button>
                   <button type="submit" class="search-btn">
                       <i class="fa-solid fa-magnifying-glass"></i>
                   </button>
                   <div id="suggestion-box" class="suggestion-box">
                       <div class="suggestion-item" onclick="selectSuggestion(this)">John Doe - Roll 101 - Semester 1</div>
                       <div class="suggestion-item" onclick="selectSuggestion(this)">Jane Smith - Roll 102 - Semester 2</div>
                       <div class="suggestion-item" onclick="selectSuggestion(this)">Mike Johnson - Roll 103 - Semester 3</div>
                       <div class="suggestion-item" onclick="selectSuggestion(this)">Emily Davis - Roll 104 - Semester 4</div>
                   </div>
               </form>
               <div class="col-12 mt-4">
                   <table class="table table-hover">
                       <thead>
                           <tr>
                               <th>SN.</th>
                               <th>Roll</th>
                               <th>Name</th>
                               <th>Department</th>
                               <th>Semester</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td>1</td>
                               <td>609554</td>
                               <td>Tanvir Islam</td>
                               <td>Computer Science and Technology</td>
                               <td>6th</td>
                           </tr>
                       </tbody>
                   </table>
               </div>
           </div>
       </div>
    </div>
   <!-- students section end -->

   <!-- filter student section start -->
   <div class="col-12 add-form p-2 d-none" data="filter-student">
       <div class="row">
           <h3 class="col-12 p-2 text-center">Filter Students</h3>
           <div class="col-md-6 col-sm-12 mx-auto my-5">
               <form action="" class="border shadow-sm p-2">
                   <div class="row">

                       <div class="col-12 mb-2">
                           <label for="f_department">Department <span>*</span></label>
                           <select name="f_department" id="f_department" class="form-control" required>
                               <option value="">Select Department</option>
                           </select>
                       </div><!--Department-->

                       <div class="col-md-6 col-sm-12 mb-2">
                           <label for="f_semester">Semester <span>*</span></label>
                           <select name="f_semester" id="f_semester" class="form-control" required>
                               <option value="">Select Semester</option>
                           </select>
                       </div><!--semester-->

                       <div class="col-md-6 col-sm-12 mb-2">
                           <label for="f_probidhan">Probidhan <span>*</span></label>
                           <select name="f_probidhan" id="f_probidhan" class="form-control" required>
                               <option value="">Select Probidhan</option>
                           </select>
                       </div><!--Probidhan-->

                       <div class="col-12 d-flex justify-content-end">
                           <button type="button" class="cancel-btn">Cancel</button>
                           <button type="submit" class="btn-grad">Filter</button>
                       </div>
                   </div>
               </form>
           </div>
       </div>
   </div>
   <!-- filter student section end -->

   <!-- add students section start -->
   <div class="col-12 add-form p-2 d-none" data="add-student">
       <div class="row">
           <h3 class="col-12 p-2 text-center">Add Students</h3>
           <div class="col-md-8 col-sm-12 mx-auto my-3 border shadow-sm p-2">
               <form action="" class="">
                   <div class="row">
                       <div class="col-12 mb-2">
                           <label for="std_name">Full name <span>*</span></label>
                           <input type="text" name="std_name" id="std_name" required class="form-control">
                       </div> <!--Student name-->
                       <div class="col-md-6 col-sm-12 mb-2">
                           <label for="std_code">Code</label>
                           <input type="text" name="std_code" id="std_code" class="form-control">
                       </div> <!--student Code-->
                       <div class="col-md-6 col-sm-12 mb-2">
                           <label for="std_roll">Roll</label>
                           <input type="text" name="std_roll" id="std_roll" class="form-control" required>
                       </div> <!--Student Roll-->
                       <div class="col-12 mb-2">
                           <label for="std_department">Department <span>*</span></label>
                           <select name="std_department" id="std_department" class="form-control" required>
                               <option value="">Select Department</option>
                           </select>
                       </div><!--Department-->
                       <div class="col-md-6 col-sm-12 mb-2">
                           <label for="std_seasson">Seasson <span>*</span></label>
                           <select name="std_seasson" id="std_seasson" class="form-control" required>
                               <option value="">Select Seasson</option>
                           </select>
                       </div><!--Seasson-->
                       <div class="col-md-6 col-sm-12 mb-2">
                           <label for="std_shift">Grhoup/Shift <span>*</span></label>
                           <select name="std_shift" id="std_shift" class="form-control" required>
                               <option value="">Select Grhoup/Shift</option>
                           </select>
                       </div><!--Grhoup/Shift-->

                       <div class="col-md-6 col-sm-12 mb-2">
                           <label for="f_semester">Semester <span>*</span></label>
                           <select name="f_semester" id="f_semester" class="form-control" required>
                               <option value="">Select Semester</option>
                           </select>
                       </div><!--semester-->

                       <div class="col-md-6 col-sm-12 mb-2">
                           <label for="f_probidhan">Probidhan <span>*</span></label>
                           <select name="f_probidhan" id="f_probidhan" class="form-control" required>
                               <option value="">Select Probidhan</option>
                           </select>
                       </div><!--Probidhan-->

                       <div class="col-12 d-flex justify-content-end">
                           <button type="submit" class="btn-grad">Add</button>
                       </div>
                   </div>
               </form>
               <hr>
               <div class="row">
                   <form action="">
                       <h3 class="col-12 text-center p-2">OR UPLOAD EXCEL</h3>
                       <div class="row">
                           <div class="col-12 mb-2">
                               <label for="std_excel">Excel File <span>*</span></label>
                               <input type="file" name="std_excel" id="std_excel" class="form-control" title="Upload .xls or .xlsx file">
                           </div>
                           <div class="col-12 d-flex justify-content-end">
                               <button type="button" class="cancel-btn">Cancel</button>
                               <button type="submit" class="btn-grad">Submit</button>
                           </div>
                       </div>
                   </form>
               </div>
           </div>
       </div>
   </div>
   <!-- add students section end -->

   <!-- attendance section start -->
   <div class="content" data="attendance">
       <div class="row  p-2">
           <h2 class="text-center p-2 border-bottom col-12 mt-1">Student Attendance</h2>
           <div class="col-md-4 col-sm-6 p-2">
               <label for="a_teacher">Teacher <span class="required">*</span></label>
               <div class="form-control">Engr. Manik Ullah</div>
           </div> <!--Teacher-->

           <div class="col-md-4 col-sm-6 p-2">
               <label for="a_department">Department <span class="required">*</span></label>
               <select name="a_department" id="a_department" class="form-control" required>
                   <option value="" checked>Select Department</option>
                   <option value="computer" checked>Computer</option>
                   <option value="civil" checked>Civil</option>
               </select>
           </div> <!--Departments-->

           <div class="col-md-4 col-sm-6 p-2">
               <label for="a_semester">Semester <span class="required">*</span></label>
               <select name="a_semester" id="a_semester" class="form-control" required>
                   <option value="" checked>Select Semester</option>
                   <option value="1st" checked>1st</option>
                   <option value="2nd" checked>2nd</option>
               </select>
           </div> <!--Semester-->

           <div class="col-md-4 col-sm-6 p-2">
               <label for="a_subject">Subject <span class="required">*</span></label>
               <select name="a_subject" id="a_subject" class="form-control" required>
                   <option value="" checked>Select Subject</option>
               </select>
           </div> <!--subject-->

           <div class="col-md-4 col-sm-6 p-2">
               <label for="a_date">Date <span class="required">*</span></label>
               <input type="date" name="a_date" id="a_date" class="form-control"> 
           </div> <!--date-->
           
           <div class="col-md-4 col-sm-6 p-2">
               <label for="submit-btn" class="invisible">Submit</label>
               <input type="button" value="Submit" class="form-control bg-primary text-white">
           </div>

           <div class="col-12 student-table">
               <div class="table-main" style="overflow-x: auto;">
                   <form action="" class="attendance-table">
                       <table class="table table-hover w-100">
                           <thead >
                               <tr>
                                   <th></th>
                                   <th>Roll</th>
                                   <th>Name</th>
                                   <th>status</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr>
                                   <td>
                                       <input type="checkbox" name="present" id="std_id">
                                   </td>
                                   <td>189296</td>
                                   <td>Muslima Jahan</td>
                                   <td>Absent</td>
                               </tr>
                               <tr>
                                   <td>
                                       <input type="checkbox" name="present" id="std_id">
                                   </td>
                                   <td>609554</td>
                                   <td>Tanvir Islam</td>
                                   <td>Absent</td>
                               </tr>
                           </tbody>
                       </table>
                       <div class="w-100 d-flex justify-content-end">
                           <button type="submit" class="btn-grad">Present</button>
                       </div>
                   </form>
               </div>
           </div><!--student table-->
       </div>
   </div>
   <!-- attendance section end -->

   <!-- attendance calculation section start -->
    <div class="content" data="attendance-calculation">
       <div class="row p-2">
           <h2 class="col-12 p-2 text-center">Attendance Calculateion</h2>
           <div data="cal-date" class="col-md-3 col-sm-6 my-2 attendance-calculation-content">
               <div>
                   <h5>Calculate Day</h5>
               </div>
           </div><!--calculate day-->
           <div data="cal-month" class="col-md-3 col-sm-6 my-2 attendance-calculation-content">
               <div>
                   <h5>Calculate Month</h5>
               </div>
           </div><!--calculate month-->
           <div data="cal-semester" class="col-md-3 col-sm-6 my-2 attendance-calculation-content">
               <div>
                   <h5>Calculate Semester</h5>
               </div>
           </div><!--calculate semester-->

           <!-- calculate day section start -->
           <div class="calc-result d-none col-12 my-3" data="cal-date">
               <div class="row">
                   <h3 class="col-12 p-2 text-center">Date Calculation</h3>
                   <form action="" class="w-100 mb-3">
                       <div class="row">
                           <div class="col-md-3 col-sm-6 form-group p-2">
                               <label for="d_department">Department <span>*</span></label>
                               <select required name="d_department" id="d_department" class="form-control">
                                   <option value="">Select Department</option>
                               </select> 
                           </div><!--Department-->
                           <div class="col-md-3 col-sm-6 form-group p-2">
                               <label for="d_semester">Semester <span>*</span></label>
                               <select required name="d_semester" id="d_semester" class="form-control">
                                   <option value="">Select Semester</option>
                               </select> 
                           </div><!--Semester-->
                           <div class="col-md-3 col-sm-6 form-group p-2">
                               <label for="d_date">Date <span>*</span></label>
                               <select required name="d_date" id="d_date" class="form-control">
                                   <option value="">Select Date</option>
                               </select> 
                           </div><!--Date-->
                           <div class="col-md-3 col-sm-6 form-group p-2">
                              <label for="submit" class="invisible">Submit</label>
                              <input type="submit" value="Submit" class="bg-primary text-white form-control">
                           </div><!--button-->
                       </div>
                   </form> <!--Calculation form-->
                   <div class="col-12">
                       <table class="table table-hover">
                           <thead>
                               <tr>
                                   <th>Roll</th>
                                   <th>Name</th>
                                   <th class="text-end">Total Attendance (%)</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr>
                                   <td>189296</td>
                                   <td>Muslima Jahan</td>
                                   <td class="text-end">92%</td>
                               </tr>
                           </tbody>
                       </table>
                   </div>
               </div>
           </div>
           <!-- calculate day section end -->

           <!-- calculate month section start -->
           <div class="calc-result d-none col-12 my-3" data="cal-month">
               <div class="row">
                   <h3 class="col-12 p-2 text-center">Month Calculation</h3>
                   <form action="" class="w-100 mb-3">
                       <div class="row">
                           <div class="col-md-3 col-sm-6 form-group p-2">
                               <label for="m_department">Department <span>*</span></label>
                               <select required name="m_department" id="m_department" class="form-control">
                                   <option value="">Select Department</option>
                               </select> 
                           </div><!--Department-->
                           <div class="col-md-3 col-sm-6 form-group p-2">
                               <label for="m_semester">Semester <span>*</span></label>
                               <select required name="m_semester" id="m_semester" class="form-control">
                                   <option value="">Select Semester</option>
                               </select> 
                           </div><!--Semester-->
                           <div class="col-md-3 col-sm-6 form-group p-2">
                               <label for="m_month">Month <span>*</span></label>
                               <select required name="m_month" id="m_month" class="form-control">
                                   <option value="">Select Month</option>
                               </select> 
                           </div><!--Month-->
                           <div class="col-md-3 col-sm-6 form-group p-2">
                              <label for="submit" class="invisible">Submit</label>
                              <input type="submit" value="Submit" class="bg-primary text-white form-control">
                           </div><!--button-->
                       </div>
                   </form> <!--Calculation form-->
                   <div class="col-12">
                       <table class="table table-hover">
                           <thead>
                               <tr>
                                   <th>Roll</th>
                                   <th>Name</th>
                                   <th class="text-end">Total Attendance (%)</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr>
                                   <td>189296</td>
                                   <td>Muslima Jahan</td>
                                   <td class="text-end">92%</td>
                               </tr>
                           </tbody>
                       </table>
                   </div>
               </div>
           </div>
           <!-- calculate month section end -->

           <!-- calculate semester section start -->
           <div class="calc-result d-none col-12 my-3" data="cal-semester">
               <div class="row">
                   <h3 class="col-12 p-2 text-center">Semester Calculation</h3>
                   <form action="" class="w-100 mb-3">
                       <div class="row">
                           <div class="col-md-6 col-sm-6 form-group p-2">
                               <label for="s_department">Department <span>*</span></label>
                               <select required name="s_department" id="s_department" class="form-control">
                                   <option value="">Select Department</option>
                               </select> 
                           </div><!--Department-->
                           <div class="col-md-6 col-sm-6 form-group p-2">
                               <label for="s_semester">Semester <span>*</span></label>
                               <select required name="s_semester" id="s_semester" class="form-control">
                                   <option value="">Select Semester</option>
                               </select> 
                           </div><!--Semester-->
                           <div class="col-md-4 col-sm-6 form-group p-2">
                               <label for="s_month_start">Month start <span>*</span></label>
                               <select required name="s_month_start" id="s_month_start" class="form-control">
                                   <option value="">Select Month start</option>
                               </select> 
                           </div><!--Month start-->
                           <div class="col-md-4 col-sm-6 form-group p-2">
                               <label for="s_month_end">Month End <span>*</span></label>
                               <select required name="s_month_end" id="s_month_end" class="form-control">
                                   <option value="">Select Month End</option>
                               </select> 
                           </div><!--Month End-->
                           <div class="col-md-4 col-sm-6 form-group p-2">
                              <label for="submit" class="invisible">Submit</label>
                              <input type="submit" value="Submit" class="bg-primary text-white form-control">
                           </div><!--button-->
                       </div>
                   </form> <!--Calculation form-->
                   <div class="col-12">
                       <table class="table table-hover">
                           <thead>
                               <tr>
                                   <th>Roll</th>
                                   <th>Name</th>
                                   <th class="text-end">Total Attendance (%)</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr>
                                   <td>189296</td>
                                   <td>Muslima Jahan</td>
                                   <td class="text-end">92%</td>
                               </tr>
                           </tbody>
                       </table>
                   </div>
               </div>
           </div>
           <!-- calculate semester section end -->

       </div>
    </div>
   <!-- attendance calculation section end -->