{% extends "base/base.html" %}
{% load static %}
{% block start %}

   <!-- departments section start -->
   <div class="content" data="departments">
    <div class="row p-2" >
        <h2 class="text-center p-2 border-bottom col-12 mt-1">Departments</h2>

        <div class="col-12 d-flex justify-content-end">
            <a class="btn-grad add-btn" href="{% url 'add_departments' %}">Add Department</a>
       </div>

        <div class="col-md-3 col-sm-6 mb-2 p-0 shadow-sm departments-content border">
            <div class="img-middle" style="aspect-ratio: 16/9;">
                <img src="./img/upload-img.png" alt="Author image">
            </div>
            <h6 class="mb-0 mt-1 pl-1">Name</h6>
        </div>
     </div>
</div>
<!-- departments section end -->

{% endblock %}