<style>
    .messages {
    list-style-position: inside; /* Brings the dot inside the box */
    padding-left: 0; /* Removes unnecessary padding */
}

.messages li {
    margin: 0.5em 0; /* Optional: Adjust spacing between list items */
}
</style>

{% if messages %}
<ul class="messages my-2">
    {% for message in messages %}
    <li class="alert alert-{{ message.tags }}">
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<!-- {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} -->