{% extends "base/base.html" %}
{% load static %}
{% block start %}

   <!-- add students section start -->
   <div class="col-12 add-form p-2 " data="add-student">
    {% include "base/message.html" %}
    <div class="row">
        <h3 class="col-12 p-2 text-center">Add Students</h3>
        <div class="col-md-8 col-sm-12 mx-auto my-3 border shadow-sm p-2">
            <form action="{% url 'add_students_by_form' %}" method="post" enctype="multipart/form-data" class="">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 mb-2">
                        <label for="std_name">Full name <span>*</span></label>
                        <input type="text" name="std_name" id="std_name" required class="form-control">
                    </div> <!--Student name-->
                    <div class="col-md-6 col-sm-12 mb-2">
                        <label for="std_code">Code</label>
                        <input type="text" name="std_code" id="std_code" class="form-control">
                    </div> <!--student Code-->
                    <div class="col-md-6 col-sm-12 mb-2">
                        <label for="std_roll">Roll</label>
                        <input type="text" name="std_roll" id="std_roll" class="form-control" required>
                    </div> <!--Student Roll-->
                    <div class="col-12 mb-2">
                        <label for="std_department">Department <span>*</span></label>
                        <select name="std_department" id="std_department" class="form-control" required>
                            <option value="">Select Department</option>
                            {% for dep in departments %}
                            <option value="{{dep.id}}"> {{dep.name}} </option>
                            {% endfor %}
                        </select>
                    </div><!--Department-->
                    <div class="col-md-6 col-sm-12 mb-2">
                        <label for="std_seasson">Seasson <span>*</span></label>
                        <select name="std_seasson" id="std_seasson" class="form-control" required>
                            <option value="">Select Seasson</option>
                            {% for ses in sessions %}
                            <option value="{{ses.id}}"> {{ses.name}} </option>
                            {% endfor %}

                        </select>
                    </div><!--Seasson-->
                    <div class="col-md-6 col-sm-12 mb-2">
                        <label for="std_shift">Grhoup/Shift <span>*</span></label>
                        <select required name="std_shift" id="std_shift" class="form-control">
                            <option value="">Select Group/Shift</option>
                            {% for grp in groups %}
                            <option value="{{grp.id}}"> {{grp.name}} </option>
                            {% endfor %}
                        </select>

                    </div><!--Grhoup/Shift-->

                    <div class="col-md-6 col-sm-12 mb-2">
                        <label for="std_semester">Semester <span>*</span></label>
                        <select name="std_semester" id="std_semester" class="form-control" required>
                            <option value="">Select Semester</option>
                            {% for sem in semesters %}
                            <option value="{{sem.id}}"> {{sem.name}} </option>
                            {% endfor %}

                        </select>
                    </div><!--semester-->

                    <div class="col-md-6 col-sm-12 mb-2">
                        <label for="std_probidhan">Probidhan <span>*</span></label>
                        <select name="std_probidhan" id="std_probidhan" class="form-control" required>
                            <option value="">Select Probidhan</option>
                            {% for pro in probidhans %}
                            <option value="{{pro.id}}"> {{pro.name}} </option>
                            {% endfor %}

                        </select>
                    </div><!--Probidhan-->

                    <div class="col-12 d-flex justify-content-end">
                        <button type="submit" class="btn-grad">Add</button>
                    </div>
                </div>
            </form>
            <hr>
            <form action="{% url 'add_by_xlsx' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h3 class="w-100 text-center p-2">OR UPLOAD EXCEL</h3>
                <div class="row">
                    <div class="col-12 mb-2">
                        <label for="std_excel">Excel File <span>*</span></label>
                        <input type="file" name="std_excel" id="std_excel" class="form-control" title="Upload .xls or .xlsx file">
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <button type="button" class="cancel-btn">Cancel</button>
                        <button type="submit" class="btn-grad">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- add students section end -->

{% endblock %}