{% extends "base/base.html" %}
{% load static %}
{% block start %}

   <!-- add teacher section start -->
   <div data="add-teacher" class="col-12 add-form my-5">

    <div class="row">
        <form action="#" method="post" class="col-8 col-sm-8 col-xs-12 border mx-auto rounded shadow-sm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <h2 class="w-100 p-2 text-center">Add Teacher</h2>
                
                <!-- Row to contain Image and Form Sections -->
                <div class="row p-2">
                    <!-- Image Section (first on XS devices) -->
                    <div class="col-md-3 col-sm-12 mb-2 order-sm-first order-md-last">
                        <div class="w-100 img-middle rounded" style="aspect-ratio: 9/11;">
                            <img id="teacher_preview" src="{% static 'img/upload-img.png' %}" alt="Preview" class="rounded">
                        </div>
                        <input type="file" name="image" id="image" class="d-none" accept="image/*" onchange="previewTeacherImage(event)">
                        <label for="image" class="btn-grad m-0 mt-2">Upload</label>
                    </div> <!-- Image Section -->

                    <!-- Form Section -->
                    <div class="col-md-9 col-sm-12 form-group">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label for="name">Full Name <span style="color:red;">*</span></label>
                                <input class="form-control" type="text" name="name" id="name" required placeholder="e.g. John">
                            </div> <!-- Full Name -->

                            <div class="col-12 mb-2">
                                <label for="phone_no">Phone Number <span style="color:red;">*</span></label>
                                <input type="tel" name="phone_no" id="phone_no" required class="form-control" placeholder="01*********">
                            </div> <!-- Phone Number -->

                            <div class="col-12 mb-2">
                                <label for="email">Email <span style="color:red;">*</span></label>
                                <input type="email" name="email" id="email" required class="form-control" placeholder="e.g. john@example.com">
                                <small id="emailHelp" class="form-text text-muted">
                                    <span style="color: red;">&#35;</span>eMail address is username
                                </small>
                            </div> <!-- Email -->

                            
                        </div>
                    </div> <!-- Form Section -->
                </div>

            </div>
            <div class="row p-0">
                <div class="col-md-6 col-sm-12 mb-2">
                    <label for="pass">Password <span>*</span></label>
                    <input type="password" name="pass" id="pass" class="form-control" required>
                </div><!--password-->
                <div class="col-md-6 col-sm-12 mb-2">
                    <label for="re_pass">Retype Password <span>*</span></label>
                    <input type="password" name="re_pass" id="re_pass" class="form-control" required>
                </div> <!--repass-->
                <div class="col-md-6 col-sm-6 mb-2 form-group">
                    <label for="designation">Designation <span style="color:red;">*</span></label>
                    <select name="designation" id="designation" class="form-control" required>
                        <option value="">Select Designation</option>
                        {% for des in designations %}
                        <option value="{{des.id}}">{{ des.name }}</option>
                        {% endfor %}
                    </select>
                </div> <!--designation-->

                <div class="col-md-6 col-sm-6 mb-2 form-group">
                    <label for="department">Department</label>
                    <select name="department" id="department" class="form-control">
                        <option value="">Select Department</option>
                        {% for dep in departments %}
                        <option value="{{ dep.id }}"> {{dep.name}} </option>
                        {% endfor %}
                    </select>
                </div> <!--department-->

                <div class="col-12 mb-2">
                    <label for="details">Details</label>
                    <textarea name="details" id="details" class="form-control" cols="30" rows="10" placeholder="Write details"></textarea>
                </div>

                <div class="col-md-12 mb-2 d-flex justify-content-start" style="gap:20px;">
                    <div class="form-group">
                        <label for="is_author" title="This will give all permissions to access for software">Authority Permission: </label>
                        <input type="checkbox" name="is_author" id="is_author" disabled="disabled">
                    </div> <!--Authority permission-->

                    <div class="form-group">
                        <label for="is_teacher" title="This will give all permissions to access for software">Teacher Permission: </label>
                        <input type="checkbox" name="is_teacher" id="is_teacher" checked >
                    </div> <!--Teacher Permission-->
                </div> <!--Author Permission-->
            </div>

            <div class="row p-0">
                <!-- Bottom Section for Buttons -->
                <div class="col-12 my-2 d-flex justify-content-end ">
                    <button type="button" class="cancel-btn btn-grad">Cancel</button>
                    <button class="btn-grad ml-2" type="submit">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>
<!-- add teacher section end -->

{% endblock %}