{% extends "base/base.html" %}
{% load static %}
{% block start %}

   <!-- subjects section start -->
   <div class="content p-2" data="subjects">
    {% include "base/message.html" %}
    <div class="row">
        <div class="col-12 mb-2 d-flex justify-content-end">
            <!-- <button data="filter-subject" type="button" class="btn-grad add-btn">Filter Subject</button> -->
            <a href="{% url 'add_subjects' %}" class="btn-grad add-btn">Add Subjects</a>
        </div>

        <h2 class="w-100 p-2 text-center">Filter Subjects</h2>
        <div class="col-12 mb-5">
            <form action="" method='get' enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-3 col-sm-6 mb-2 form-group">
                        <label for="semester">Semester <span>*</span></label>
                        <select name="semester" id="semester" required class="form-control">
                            <option value="">Select semester</option>
                            {% for semester in semesters %}
                            <option value="{{semester.slug}}" {% if semester.slug == selected_semester %} selected {% endif %}> {{semester.name}} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-2 form-group">
                        <label for="department">Department <span>*</span></label>
                        <select name="department" id="department" required class="form-control">
                            <option value="">Select Department</option>
                            {% for dep in departments %}
                            <option value="{{dep.slug}}" {% if dep.slug == selected_department %} selected {% endif %}>{{ dep.name }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="col-md-3 col-sm-6 mb-2 form-group">
                        <label for="probidhan">Probidhan <span>*</span></label>
                        <select name="probidhan" id="probidhan" required class="form-control">
                            <option value="">Select Probidhan</option>
                            {% for pro in probidhans %}
                            <option value="{{pro.slug}}" {% if pro.slug == selected_probidhan %} selected {% endif %} >{{ pro.name }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="col-md-3 col-sm-6 mb-2 form-group">
                        <label class="invisible" for="semester">NA</label>
                        <input type="submit" class="form-control btn btn-primary" value="Filter">
                    </div>
                </div>
            </form>
        </div>

        {% if subjects %}
        <h2 class="w-100 p-2 text-center"> Subjects </h2>
        {% for subject in subjects %}
        <div class="col-md-3 col-sm-6 p-2 subject-content">
            <div>
                <h5> {{subject.name}} </h5>
                <small class="{% if subject.code %} d-block {% else %} d-none {% endif %}" >Code: {{subject.code}} </small>
                
                <small class="{% if subject.credit %} d-block {% else %} d-none {% endif %}" >Credit: {{subject.credit}} </small>

                <small class="{% if subject.theory %} d-block {% else %} d-none {% endif %}" >Theory: {{subject.theory}} </small>

                <small class="{% if subject.practical %} d-block {% else %} d-none {% endif %}" >Practical: {{subject.practical}} </small>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
 </div>
<!-- subjects section end -->



{% endblock %}