{% extends "base/base.html" %}
{% load static %}
{% block start %}


   <!-- shift section start -->
   <div class="content p-2" data="shift">
    <div class="row">
        <h2 class="col-12 text-center text-white p-2">Groups/Shifts</h2>
        <div class="col-12 d-flex justify-content-end">
            <button type="button" class="btn-grad add-btn" data="add-group">Add Groups</button>
        </div>
        <div class="col-md-3 col-sm-6 p-2 my-2 group-content-section">
            <div>
                <h2 class="p-0 m-0 bg-transparent">Group A</h2>
            </div>
        </div>
    </div>
 </div>
<!-- shift section end -->

{% endblock %}