{% extends "base/base.html" %}
{% load static %}
{% block start %}

   <!-- Semester section start -->
   <div class="content p-2" data="semester">
    <div class="row">
        <h2 class="p-2 text-center col-12">Semesters</h2>
        <div class="col-12 d-flex justify-content-end">
            <a href="{% url 'add_semesters' %}" class="btn-grad add-btn">Add Semester</a>
        </div>
        
        {% for semester in semesters %}
        <div class="col-md-3 col-sm-6 p-2 semester-ceontent">
            <div class="p-4">
                <h4 class="text-center m-0 p-0"> {{semester.name}} </h4>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Semester section end -->

{% endblock %}