{% extends "base/base.html" %}
{% load static %}
{% block start %}

   <!-- attendance section start -->
   <div class="content" data="attendance">
    <div class="row  p-2">
        <h2 class="text-center p-2 border-bottom col-12 mt-1">Student Attendance</h2>

        <div class="col-md-4 col-sm-6">
            <label for="teacher">Teacher <span class="required">*</span></label>
            <div class="form-control"> {{ teacher.user.first_name }} </div>
        </div>
        
        <div class="col-md-4 col-sm-6">
            <label for="department">Department <span class="required">*</span></label>
            <select name="department" id="department" class="form-control" required>
                <option value="" checked>Select Department</option>
                {% for dep in departments %}
                <option value="{{ dep.slug }}" {% if dep.slug == selected_department %} selected {% elif not selected_department and dep.slug == request.user.teacher.department.slug %} selected {% endif %}>
                    {{ dep.name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-4 col-sm-6">
            <label for="semester">Semester <span class="required">*</span></label>
            <select name="semester" id="sem" class="form-control" required>
                <option value="" checked>Select semester</option>
                {% for sem in semesters %}
                <option value="{{ sem.slug }}" {% if sem.slug == selected_semester %} selected {% endif %}>
                    {{ sem.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        
        
        <div class="col-md-4 col-sm-6">
            <label for="subject">Subject <span class="required">*</span></label>
            <select {% if not subjects %} disabled {% endif %} name="subject" id="subject" class="form-control" required>
                <option value="" checked>Select Subject</option>
                {% for sub in subjects %}
                <option value="{{ sub.slug }}" {% if sub.slug == selected_subject %} selected {% endif %}>
                    {{ sub.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        
        <div class="col-md-4 col-sm-6">
            <label for="group">Group/Shift </label>
            <select name="group" id="group" class="form-control">
                <option value="" checked>Select Group/Shift</option>
                {% for grp in groups %}
                <option value="{{ grp.slug }}" {% if grp.slug == selected_group %} selected {% endif %}>
                    {{ grp.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        
        <div class="col-md-4 col-sm-6">
            <label for="date">Date <span class="required">*</span></label>
            <input type="date" name="date" id="date" value="{{ selected_date }}" class="form-control">
        </div>
        
        <script>
            
        </script>

        <div class="col-12 mt-3">
            {% include "base/message.html" %}
        </div>
                                
               
        {% if students %}
        <div class="col-12 student-table my-5">
            <div class="table-main" style="overflow-x: auto;">
                <form action="" method="post" class="attendance-table">
                    {% csrf_token %}
                    <table class="table table-hover w-100">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Roll</th>
                                <th>Name</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for std in students %}
                            <tr class="selectable-row " data-checkbox-id="{{ std.uid }}"
                             {% if not selected_subject or not selected_date %} 
                             title="Subject and Date required"
                            {% elif attendance_obj and not request.user.teacher.is_author %}
                             title="Already Exists! You're not allowed to update. Please contact the Administrator." 
                            {% endif %}>
                                <td>
                                    <input 
                                        {% if not selected_subject or not selected_date %} 
                                            disabled title="Subject and Date required"
                                        {% elif attendance_obj and not request.user.teacher.is_author %}
                                            disabled title="Already Exists! You're not allowed to update. Please contact the Administrator." 
                                        {% endif %} 
                                        {% if attendance_obj and std in attendance_obj.student_presents.all %} checked {% endif %}
                                        title="Check for Present" 
                                        value="{{ std.uid }}" 
                                        type="checkbox" 
                                        name="present" 
                                        id="{{ std.uid }}"
                                    >
                                </td>
                                <td>{{ std.roll }}</td>
                                <td>{{ std.name }}</td>
                                <td>
                                    {% if attendance_obj and std in attendance_obj.student_presents.all %}
                                     <span class="text-white p-2 border bg-success rounded"> Present </span>  
                                     {% else %}
                                     <span class="text-white p-2 border bg-danger rounded"> Absent </span>  
                                     {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="w-100 d-flex justify-content-end">
                        {% if attendance_obj and request.user.teacher.is_author %}
                        <button type="submit" class="btn-grad">Update</button>
                        {% elif not attendance_obj %}
                        <button type="submit" class="btn-grad">Present</button>
                        {% endif %}
                    </div>

                </form>
                
                <script>
                </script>
            </div>
        </div><!--student table-->
        {% endif %}
    </div>
</div>
<!-- attendance section end -->

{% endblock %}