{% extends "base/base.html" %}
{% load static %}
{% block start %}

   <!-- probidhan section start -->
   <div class="content" data="probidhans">
    <div class="row  p-2">
       <h2 class="text-center p-2 border-bottom col-12 mt-1">Probidhans</h2>
       <div class="col-12 d-flex justify-content-end">
           <a class="btn-grad add-btn" href="{% url 'add_probidhans' %}">Add Probidhan</a>
      </div>

      {% for pro in probidhans %}
       <div class="col-md-3 col-sm-6 p-2 probidhan-content">
           <div>
               <h5>{{ pro.name }}</h5>
               <small> Passed On {{ pro.starting_year }}</small>
           </div>
       </div>
       {% endfor %}
    </div>
</div>
<!-- probidhan section end -->

{% endblock %}